@import "tailwindcss";

@font-face {
    font-family: 'Kdam Thmor Pro';
    src: url('./assets/KdamThmorPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-primary: #E10600;
    --color-gray-primary: #252728;
    --color-gray-light: #8E8E8E;
    --background-image-main-dark: radial-gradient(circle, #141414 0%, #000000 100%);
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    color: white;
    font-family: "Kdam Thmor Pro", sans-serif;
    background: radial-gradient(circle, rgba(43, 42, 42, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}